body{
  font-family: open-sans;
  display: contents;
  flex-direction: column;
  text-align: center;
}
.tea-logo{
    color: #fec503;
    font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,
    'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.navstyles {
    padding-left: 20dp;
}
.fa-bars{
    color: #fff;
    font-size: 16dp;
}
.layoutBody a{
    padding-left: 12dp;
}
.navstyles li a {
    color: #fec503;
}
    .btn-xl{
        padding: 10px;
    }
.topping{
  /*margin-top: 50px;
  padding: 15px;*/
}
.minisection{
  margin: 20px;
  padding-top: 10px;
}
.inputstyle{
  margin: 5px;
  color: blue;
  font-size: 15sp;
  padding: 10px;
}
.teaform{
  align-items: center;
  text-align: center;
}
.order{
  padding: 20px;
  background-color: white;
}
#cta{
  opacity: 0.6;
}
.header{
  background-image: url('../img/teamanki.jpg  ');
  padding: 0;
  margin: 0;
}
.imagepad{
  padding-top:10rem;
  padding-left: 5rem;
  padding-bottom: 10rem;
  padding-right: 5rem;
}
